form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input,
textarea,
[contenteditable] {
  user-select: text;
}
input,
textarea {
  border-color: transparent;
  background-color: transparent;
}
input:disabled,
textarea:disabled {
  opacity: 1;
  user-select: none;
  -webkit-text-fill-color: #5a585a;
  color: #5a585a;
}
button,
input,
textarea {
  appearance: none;
  -webkit-tap-highlight-color: inherit;
  outline: inherit;
  text-rendering: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
input:focus {
  transition-property: all;
}
label {
  font-weight: 300;
}
button {
  border: 0.222166666666667rem solid #5a585a;
  border-radius: 0.444333333333333rem;
  padding: 0.6665rem;
  border-radius: 1.333rem;
  line-height: 1;
  background-color: inherit;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  color: #5a585a;
}
@media (prefers-color-scheme: dark) {
  button {
    border-color: rgba(186,185,166,0.9);
  }
}
button:disabled {
  color: transparent;
}
@media (prefers-color-scheme: dark) {
  button {
    color: rgba(186,185,166,0.9);
    standard-button: rgba(186,185,166,0.9);
  }
}
fieldset {
  padding: 0.6665rem;
  overflow: hidden;
  border: 0.222166666666667rem solid #5a585a;
  border-radius: 0.444333333333333rem;
}
@media (prefers-color-scheme: dark) {
  fieldset {
    border-color: rgba(186,185,166,0.9);
  }
}
@media (prefers-color-scheme: dark) {
  fieldset {
    border: 0.222166666666667rem solid rgba(186,185,166,0.9);
    border-radius: 0.444333333333333rem;
  }
}
@media (prefers-color-scheme: dark) and (prefers-color-scheme: dark) {
  fieldset {
    border-color: rgba(186,185,166,0.9);
  }
}
