* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.333rem;
  user-select: auto;
}
html * {
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
  transition-property: border, margin, padding, width, height;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
a {
  outline: none;
  color: rgba(82,160,209,0.69);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,115,187,0.68);
}
p > a {
  -webkit-tap-highlight-color: rgba(0,115,187,0.68);
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  border-bottom: 0.18vmin solid rgba(82,160,209,0.69);
  border-bottom-right-radius: 0.5vmin;
  border-bottom-left-radius: 0.5vmin;
}
p > a:link {
  color: rgba(82,160,209,0.69);
}
p > a:visited {
  border-color: rgba(186,185,166,0.9);
}
p > a:hover {
  color: rgba(236,54,76,0.73);
}
p > a:active {
  color: rgba(79,191,109,0.8);
}
aside {
  display: none;
}
article {
  width: 100%;
}
article > header,
article > footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
details > summary {
  cursor: pointer;
}
details > summary:focus {
  outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > *:not(summary) {
  animation-name: slideOutLeft;
}
details[open] {
  border: none;
  border-color: transparent;
}
details[open] > *:not(summary) {
  animation-name: slideInLeft;
}
ol {
  list-style: none;
}
ul {
  margin-left: 1.333rem;
  margin-bottom: 1.333rem;
}
time {
  cursor: default;
  transition: opacity 0.25s;
}
time:active {
  transition: all 0.24s;
  color: rgba(236,54,76,0.73);
}
hgroup {
  max-width: 29.33rem;
  margin: auto;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input,
textarea,
[contenteditable] {
  user-select: text;
}
input,
textarea {
  border-color: transparent;
  background-color: transparent;
}
input:disabled,
textarea:disabled {
  opacity: 1;
  user-select: none;
  -webkit-text-fill-color: #5a585a;
  color: #5a585a;
}
button,
input,
textarea {
  appearance: none;
  -webkit-tap-highlight-color: inherit;
  outline: inherit;
  text-rendering: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
input:focus {
  transition-property: all;
}
label {
  font-weight: 300;
}
button {
  border: 0.222166666666667rem solid #5a585a;
  border-radius: 0.444333333333333rem;
  padding: 0.6665rem;
  border-radius: 1.333rem;
  line-height: 1;
  background-color: inherit;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  color: #5a585a;
}
@media (prefers-color-scheme: dark) {
  button {
    border-color: rgba(186,185,166,0.9);
  }
}
button:disabled {
  color: transparent;
}
@media (prefers-color-scheme: dark) {
  button {
    color: rgba(186,185,166,0.9);
    standard-button: rgba(186,185,166,0.9);
  }
}
fieldset {
  padding: 0.6665rem;
  overflow: hidden;
  border: 0.222166666666667rem solid #5a585a;
  border-radius: 0.444333333333333rem;
}
@media (prefers-color-scheme: dark) {
  fieldset {
    border-color: rgba(186,185,166,0.9);
  }
}
@media (prefers-color-scheme: dark) {
  fieldset {
    border: 0.222166666666667rem solid rgba(186,185,166,0.9);
    border-radius: 0.444333333333333rem;
  }
}
@media (prefers-color-scheme: dark) and (prefers-color-scheme: dark) {
  fieldset {
    border-color: rgba(186,185,166,0.9);
  }
}
section.page {
  overflow: hidden;
  width: 100%;
}
section.page > hgroup {
  text-align: center;
}
section.page > hgroup h1 {
  color: rgba(82,160,209,0.69);
  margin: 0;
  margin-bottom: 2.666rem;
}
section.page > header {
  padding: 1.333rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
section.page > header h1 {
  color: rgba(82,160,209,0.69);
  vertical-align: top;
  margin: 0;
  line-height: 1.33;
}
@media (min-width: 79.98rem) {
  section.page > header h1 {
    line-height: 0.66;
  }
}
section.page > header details[open] {
  margin-right: inherit;
}
section.page > header details[open] > summary {
  margin-bottom: 1.333rem;
}
blockquote {
  user-select: all;
  cursor: default;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
