doctype
html
  head
    title scott fryxell
    meta(http-equiv="Content-Type" content="text/html;" charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="/application.css" media="screen" title="no title" charset="utf-8")
    //- link(rel="stylesheet" href="/elements/input.css" media="screen" title="no title" charset="utf-8")
    link( href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    
  body
    != yield
      
