---
layout: layouts/base.njk
permalink: /blog/
---
<h1>Blog Posts</h1>

<ul>
{% for post in collections.posts | reverse %}
  <li>
    <article>
      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
      {% if post.data.description %}
        <p>{{ post.data.description }}</p>
      {% endif %}
    </article>
  </li>
{% endfor %}
</ul>
