@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Hairline.woff2") format('woff2');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-HairlineItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Thin.woff2") format('woff2');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-ThinItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Light.woff2") format('woff2');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-LightItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Medium.woff2") format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-MediumItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Semibold.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-SemiboldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-BoldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Heavy.woff2") format('woff2');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-HeavyItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Black.woff2") format('woff2');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-BlackItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 900;
}
@-moz-keyframes working {
  50% {
    fill: rgba(208,205,144,0.2);
    stroke: rgba(208,205,144,0.2);
  }
}
@-webkit-keyframes working {
  50% {
    fill: rgba(208,205,144,0.2);
    stroke: rgba(208,205,144,0.2);
  }
}
@-o-keyframes working {
  50% {
    fill: rgba(208,205,144,0.2);
    stroke: rgba(208,205,144,0.2);
  }
}
@keyframes working {
  50% {
    fill: rgba(208,205,144,0.2);
    stroke: rgba(208,205,144,0.2);
  }
}
@-moz-keyframes button_click {
  50% {
    fill: rgba(236,54,76,0.73);
    -webkit-tap-highlight-color: rgba(236,54,76,0.73);
  }
}
@-webkit-keyframes button_click {
  50% {
    fill: rgba(236,54,76,0.73);
    -webkit-tap-highlight-color: rgba(236,54,76,0.73);
  }
}
@-o-keyframes button_click {
  50% {
    fill: rgba(236,54,76,0.73);
    -webkit-tap-highlight-color: rgba(236,54,76,0.73);
  }
}
@keyframes button_click {
  50% {
    fill: rgba(236,54,76,0.73);
    -webkit-tap-highlight-color: rgba(236,54,76,0.73);
  }
}
html {
  font-family: 'Lato';
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #5a585a;
  background-color: rgba(208,205,144,0.2);
}
@media screen and (min-width: 34.658rem) {
  html {
    font-size: calc( 1.125rem + (1.33 - 1.125) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  html {
    font-size: 1.33rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #17181c;
    color: rgba(186,185,166,0.9);
  }
}
p,
textarea:focus,
input,
blockquote,
form {
  max-width: 29.33rem;
}
h1 {
  font-size: 2.441rem;
}
@media screen and (min-width: 34.658rem) {
  h1 {
    font-size: calc( 2.441rem + (3.998 - 2.441) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  h1 {
    font-size: 3.998rem;
  }
}
h2 {
  font-size: 1.953rem;
}
@media screen and (min-width: 34.658rem) {
  h2 {
    font-size: calc( 1.953rem + (2.827 - 1.953) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  h2 {
    font-size: 2.827rem;
  }
}
h3 {
  font-size: 1.563rem;
}
@media screen and (min-width: 34.658rem) {
  h3 {
    font-size: calc( 1.563rem + (1.999 - 1.563) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  h3 {
    font-size: 1.999rem;
  }
}
h4 {
  font-size: 1.25rem;
}
@media screen and (min-width: 34.658rem) {
  h4 {
    font-size: calc( 1.25rem + (1.414 - 1.25) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  h4 {
    font-size: 1.414rem;
  }
}
h5 {
  font-size: 1rem;
}
@media screen and (min-width: 34.658rem) {
  h5 {
    font-size: calc( 1rem + (1 - 1) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  h5 {
    font-size: 1rem;
  }
}
h6 {
  font-size: 0.8rem;
}
@media screen and (min-width: 34.658rem) {
  h6 {
    font-size: calc( 0.8rem + (0.707 - 0.8) * (100vw - 34.658rem) / (79.98 - 34.658) );
  }
}
@media screen and (min-width: 79.98rem) {
  h6 {
    font-size: 0.707rem;
  }
}
p {
  line-height: 1.333rem;
  margin-bottom: 1.333rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 29.33rem;
  letter-spacing: -0.05em;
  font-weight: 300;
  margin-bottom: 1.333rem;
  line-height: 1;
  text-transform: capitalize;
}
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
}
h1,
h2,
h3 {
  margin-top: calc( (1.333rem - 1em) + 1.333rem * 2);
}
h4,
h5 {
  margin-top: calc( (1.333rem - 1em) + 1.333rem * 1);
}
h6 {
  margin-top: calc( (1.333rem - 1em) );
}
h1 {
  font-weight: 100;
}
h2 {
  font-weight: 200;
}
.orange {
  background-color: rgba(245,166,35,0.8);
  border-color: rgba(245,166,35,0.8);
  color: rgba(252,228,189,0.8);
  -webkit-tap-highlight-color: rgba(245,166,35,0.8);
}
.orange::placeholder {
  color: rgba(254,246,233,0.8);
}
.yellow {
  background-color: rgba(248,231,28,0.65);
  border-color: rgba(233,215,7,0.65);
  color: #5a585a;
  -webkit-tap-highlight-color: rgba(248,231,28,0.65);
}
.yellow::placeholder {
  color: #5a585a;
}
.red {
  background-color: rgba(236,54,76,0.73);
  border-color: rgba(236,54,76,0.73);
  color: rgba(252,225,228,0.73);
  -webkit-tap-highlight-color: rgba(236,54,76,0.73);
}
.red::placeholder {
  color: rgba(252,225,228,0.73);
}
@media (prefers-color-scheme: dark) {
  .red {
    background-color: rgba(226,21,45,0.73);
    color: rgba(246,250,253,0.69);
    border-color: rgba(234,28,52,0.73);
  }
}
.green {
  background-color: rgba(79,191,109,0.8);
  border-color: rgba(79,191,109,0.8);
  color: rgba(211,239,218,0.8);
  -webkit-tap-highlight-color: rgba(79,191,109,0.8);
}
.green::placeholder {
  color: rgba(211,239,218,0.8);
}
@media (prefers-color-scheme: dark) {
  .green {
    background-color: rgba(50,139,74,0.8);
    color: rgba(246,250,253,0.69);
    border-color: rgba(57,159,84,0.8);
  }
}
.blue {
  background-color: #3691c9;
  border-color: #3691c9;
  color: #f5f9fc;
  -webkit-tap-highlight-color: #3691c9;
}
.blue::placeholder {
  color: #f5f9fc;
}
@media (prefers-color-scheme: dark) {
  .blue {
    background-color: #246187;
    color: rgba(246,250,253,0.69);
    border-color: #286d97;
  }
}
.black {
  background-color: #5a585a;
  border-color: #5a585a;
  color: #c6c4c6;
  -webkit-tap-highlight-color: #5a585a;
}
.black::placeholder {
  color: #c6c4c6;
}
@media (prefers-color-scheme: dark) {
  .black {
    background-color: #323132;
    color: rgba(246,250,253,0.69);
    border-color: #4d4b4d;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.333rem;
  user-select: auto;
}
html * {
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
  transition-property: border, margin, padding, width, height;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
a {
  outline: none;
  color: #3691c9;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,115,186,0.79);
}
p > a {
  -webkit-tap-highlight-color: rgba(0,115,186,0.79);
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  border-bottom: 0.18vmin solid #3691c9;
  border-bottom-right-radius: 0.5vmin;
  border-bottom-left-radius: 0.5vmin;
}
p > a:link {
  color: #3691c9;
}
p > a:visited {
  border-color: rgba(186,185,166,0.9);
}
p > a:hover {
  color: rgba(236,54,76,0.73);
}
p > a:active {
  color: rgba(79,191,109,0.8);
}
aside {
  display: none;
}
article {
  width: 100%;
}
article > header,
article > footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
details > summary {
  cursor: pointer;
}
details > summary:focus {
  outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > *:not(summary) {
  animation-name: slideOutLeft;
}
details[open] {
  border: none;
  border-color: transparent;
}
details[open] > *:not(summary) {
  animation-name: slideInLeft;
}
main > header > svg {
  width: 100vw;
  height: 100vh;
}
ol {
  list-style: none;
}
ul {
  margin-left: 1.333rem;
  margin-bottom: 1.333rem;
}
time {
  opacity: 0.77;
  cursor: default;
  transition: opacity 0.25s;
}
time:active {
  transition: all 0.24s;
  color: rgba(236,54,76,0.73);
}
hgroup {
  max-width: 29.33rem;
  margin: auto;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input,
textarea,
[contenteditable] {
  user-select: text;
}
input,
textarea {
  border-color: transparent;
  background-color: transparent;
}
input:disabled,
textarea:disabled {
  opacity: 1;
  user-select: none;
  -webkit-text-fill-color: #5a585a;
  color: #5a585a;
}
button,
input,
textarea {
  appearance: none;
  -webkit-tap-highlight-color: inherit;
  outline: inherit;
  text-rendering: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
input:focus {
  transition-property: all;
}
label {
  font-weight: 300;
}
button {
  border: 0.222166666666667rem solid #5a585a;
  border-radius: 0.444333333333333rem;
  padding: 0.6665rem;
  border-radius: 1.333rem;
  line-height: 1;
  background-color: inherit;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  color: #5a585a;
}
@media (prefers-color-scheme: dark) {
  button {
    border-color: rgba(186,185,166,0.9);
  }
}
button:disabled {
  color: transparent;
}
@media (prefers-color-scheme: dark) {
  button {
    color: rgba(186,185,166,0.9);
    standard-button: rgba(186,185,166,0.9);
  }
}
fieldset {
  padding: 0.6665rem;
  overflow: hidden;
  border: 0.222166666666667rem solid #5a585a;
  border-radius: 0.444333333333333rem;
}
@media (prefers-color-scheme: dark) {
  fieldset {
    border-color: rgba(186,185,166,0.9);
  }
}
@media (prefers-color-scheme: dark) {
  fieldset {
    border: 0.222166666666667rem solid rgba(186,185,166,0.9);
    border-radius: 0.444333333333333rem;
  }
}
@media (prefers-color-scheme: dark) and (prefers-color-scheme: dark) {
  fieldset {
    border-color: rgba(186,185,166,0.9);
  }
}
section.page {
  overflow: hidden;
  width: 100%;
}
section.page > hgroup {
  text-align: center;
}
section.page > hgroup h1 {
  color: #3691c9;
  margin: 0;
  margin-bottom: 2.666rem;
}
section.page > header {
  padding: 1.333rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
section.page > header h1 {
  color: #3691c9;
  vertical-align: top;
  margin: 0;
  line-height: 1.33;
}
@media (min-width: 79.98rem) {
  section.page > header h1 {
    line-height: 0.66;
  }
}
section.page > header details[open] {
  margin-right: inherit;
}
section.page > header details[open] > summary {
  margin-bottom: 1.333rem;
}
blockquote {
  user-select: all;
  cursor: default;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
svg {
  pointer-events: visible;
  height: 3.999rem;
  width: 3.999rem;
  overflow: auto;
  outline: none;
  display: block;
  fill: #5a585a;
  stroke-width: 0;
}
svg:active {
  animation-name: button_click;
}
@media (prefers-color-scheme: dark) {
  svg {
    fill: #3691c9;
    stroke: rgba(79,191,109,0.8);
    stroke-width: 1;
  }
}
svg.working {
  width: 4.398899999999999rem;
  height: 1.333rem;
  margin: auto;
  animation-name: working;
  animation-timing-function: linear;
  animation-duration: 3.33s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
[outline] [outline] * {
  outline: 0.25vmin solid #3691c9;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.333rem;
}
body header {
  width: 100%;
  max-width: 29.33rem;
}
body header > nav {
  display: flex;
}
body header > nav > a:first-child {
  margin-right: 1.333rem;
}
body header > nav > a > h1 {
  line-height: 1;
}
section#feed {
  position: relative;
  max-width: 29.33rem;
  display: flex;
  flex-direction: column;
}
section#feed > header > svg {
  fill: transparent;
}
section#feed > nav {
  display: none;
}
section#feed > hgroup > h1 {
  margin-bottom: 0;
}
section#feed > svg.working {
  order: 1;
  margin: 1.333rem auto;
}
section#feed > section > header > h4 {
  font-weight: 200;
}
section#feed > section:first-of-type > header > h4 {
  margin-top: 1.333rem;
}
section#feed > section > article {
  overflow: hidden;
  margin-bottom: 1.333rem;
}
section#feed > section > article:last-of-type {
  margin-bottom: 0;
}
section#feed > section > article > hgroup {
  font-weight: 200;
}
section#feed > section > article > hgroup > span,
section#feed > section > article > hgroup > time {
  display: inline-block;
  vertical-align: center;
}
section#feed > section > article > hgroup > span {
  color: #5a585a;
}
section#feed > section > article > hgroup > time {
  color: #5a585a;
  margin-left: 0.222166666666667rem;
}
section#feed > section > article > blockquote {
  margin-bottom: 1.333rem;
}
section#feed > section > article > blockquote:last-of-type {
  margin-bottom: 0;
}
section#feed > section > article > a > svg {
  height: 2.666rem;
  width: 2.666rem;
  float: left;
  margin-right: 1.333rem;
  shape-outside: circle();
  -webkit-clip-path: circle(44%);
  clip-path: circle(44%);
  fill: #3691c9;
  stroke: #78b5db;
  stroke-width: 2px;
}
