/* http://daneden.me/animate/ */
@-moz-keyframes working {
  50% {
    fill: white-background;
    stroke: white-background;
  }
}
@-webkit-keyframes working {
  50% {
    fill: white-background;
    stroke: white-background;
  }
}
@-o-keyframes working {
  50% {
    fill: white-background;
    stroke: white-background;
  }
}
@keyframes working {
  50% {
    fill: white-background;
    stroke: white-background;
  }
}
@-moz-keyframes button_click {
  50% {
    fill: #f00;
    -webkit-tap-highlight-color: #f00;
  }
}
@-webkit-keyframes button_click {
  50% {
    fill: #f00;
    -webkit-tap-highlight-color: #f00;
  }
}
@-o-keyframes button_click {
  50% {
    fill: #f00;
    -webkit-tap-highlight-color: #f00;
  }
}
@keyframes button_click {
  50% {
    fill: #f00;
    -webkit-tap-highlight-color: #f00;
  }
}
