[outline] [outline] * {
  outline: 0.25vmin solid rgba(82,160,209,0.69);
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.666rem;
}
body header {
  margin-top: 1.333rem;
  width: 100%;
  max-width: 29.33rem;
}
body header > nav {
  display: flex;
}
body header > nav > a:first-child {
  margin-right: 1.333rem;
}
body header > nav > a > h1 {
  line-height: 1;
}
