[outline] [outline] * {
  outline: 0.25vmin solid #3691c9;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.333rem;
}
body header {
  width: 100%;
  max-width: 29.33rem;
}
body header > nav {
  display: flex;
}
body header > nav > a:first-child {
  margin-right: 1.333rem;
}
body header > nav > a > h1 {
  line-height: 1;
}
