main
  article.player 
    header
      h1 Permission
    audio(src="05.mp3")

    button 
    input(type="range" min="0" value="1" max="2296" step="3")

    nav
      a(href='https://cash.me/$ScottFryxell') $
