my_selectors = 'webkit-slider-thumb,moz-range-thumb,ms-thumb'


range_thumb()
  ::{arguments}
    border: 1px solid #000000
    height: 100%
    width: 10vmin
    border-radius: 3px
    background: #ffffff
    cursor: pointer
    -webkit-appearance: none
    margin-top: -14px /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d


input[type=range]
  -webkit-appearance: none
  background: transparent /* Otherwise white in Chrome */

  &:focus
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

  &::-ms-track
    width: 100%
    cursor: pointer
    // Hides the slider so custom styles can be added
    background: transparent
    border-color: transparent
    color: transparent

  range_thumb('-webkit-slider-thumb')
