<header>
  <nav>
    <a href="/index.html">
      <svg>
        <use xlink:href="/icons/avatar.svg#avatar"></use>
      </svg>
    </a>
    <a href="/resume.html">
      <h1 itemprop="name" itemref="scott-fryxell">Scott Fryxell</h1>
    </a>
  </nav>
</header>
