---
layout: layouts/base.njk
---
<section id="scott-fryxell" itemscope itemtype="http://schema.org/Person" itemid="http://scott-fryxell.github.io/resume">
  <header>
    <img src="/posters/Scott_Fryxell_Thursday, May 30 at 3_22 PM.svg" alt="The skyline of San Francisco" />
    <address>
      <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressLocality">San Francisco</span>
      </p>
      <a href="mailto:sfryxell@gmail.com">sfryxell@gmail.com</a>
    </address>
  </header>
  
  <section id="skills">
    <h2 itemprop="description">Software Developer</h2>
  </section>
  
  <section id="experience">
    {{ content | safe }}
  </section>
</section>

<style>
  /* Include your styles here or link to an external stylesheet */
  section#scott-fryxell {
    /* Your styles here */
  }
  /* ... rest of your styles ... */
</style>
