<header>
  <h1 itemprop="name" itemref="scott-fryxell">
    <a href="/index.html">Scott Fryxell</a>
  </h1>
  <nav>
    <a href="/about.html">About</a>
    <a href="/resume.html">CV</a>
  </nav>
</header>
