title     = 8vmax
header    = 5vmax
body      = 3vmax
gutter    = 2vmax
laptop    = 65rem

@require color
// @require elements
// @require permission
// @require debug

html
  padding:0
  margin:0
  line-height: 1.22
  background-color: primary
  color: secondary
  font-family: 'Lato', sans-serif
  font-size: body
  @media (min-device-width: laptop)
    font-size:gutter


body
  margin:0 gutter
  & > header
  & > main
    margin: 0 auto
    @media (orientation: landscape)
      max-width: 80vmax
    @media (min-device-width: laptop)
      max-width: 90vmin

html
  font-size:body
  @media (min-device-width: laptop)
    font-size:gutter

h1
  margin:gutter 0
  font-size:title
  @media (min-device-width: laptop)
    font-size:header



h2, h3, h4, h5, h6
  margin:gutter 0
  font-size:header
  @media (min-device-width: laptop)
    font-size:body




a
  color:tertiary
