title     = 8vmax
header    = 5vmax
body      = 3vmax
gutter    = 2vmax

title     = 8vmin
header    = 5vmin
body      = 3vmin
gutter    = 3vmin


@require color
// @require elements
// @require permission
// @require debug

html
  padding:0
  margin:0
  font-family: 'Lato', sans-serif
  line-height: 1.22
  background-color: primary
  color: secondary


body
  margin:0 gutter
  & > header
  & > main
    margin: 0 auto
    @media (orientation: landscape) and (min-device-width: 65rem)
      max-width: 90vmin

/* set font sizes */
html
  font-size:body

h1
  font-size:title
  margin:gutter 0

h2, h3, h4, h5, h6
  font-size:header
  margin:gutter 0


a
  color:tertiary
